html {
  height: 100%
}
body {
    box-sizing: border-box;
    background-color: #95E8DE;
    text-align: center;
    font-size: : 95%;
    height: 100%;
}
* {
    box-sizing: inherit;
}
div {
  padding-left: :5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.row {
    display: flex;
    flex-direction: column;
}
.cell {
    flex-basis: 20%;
    text-align: center;
    margin: 0.5em;
}
.title-cell {
    flex-basis: 40%;
}
.highest {
  font-weight: bold;
  background-color: #9fb;
}
.like {
  font-weight: bold;
  background-color: #E4FF00;
}
h1 {
  color:Black;
  text-align: center;
  font-size: 60px;
}
table {
  width: 95%;
}
tr, td {
  border: 1px solid black;
  padding-left: :1px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 5px;
  font-size: 15px;
  text-align: center;
}
th{
  float:top;
}

.div1 {
  margin: 2px;
  height: 300px;
  width: 300px;
  float: left;
}
.Introduksjon_div {
  display: none;
  width: 70%;
  height: auto;
  padding: 10px;
  border: 5px solid red;
  margin: auto;
  font-size: 20px;
}
.Oversikt_div {
  display: none;
  font-size: 20px;
  border: 100px, solid gray;
  width: 60%;
  height: 90%;
  margin: auto;
}

.total_oversikt{
  border: none;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 45px;
  margin: auto;
}

.Detaljer_div {
  display: none;
  width: auto;
  height: auto;
  padding: 5%;
  margin: auto;
  padding-bottom: 2.5rem;
}
.Sammenligning_div {
  display: none;
  width : 80%;
  text-align: center;
  margin: auto;
  float: top;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:visited {
  color: black;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

#page-wrapper {
  min-height: 100%;
  position: relative;
}

#footer {
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  padding-top: 100px
}

#footer p {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 13px 0px 0px 0px;
  color: white;
  background-color:  #00e6b8;
}
