html {
  height: 80%
}

body {
    background-color: #95E8DE;
    text-align: center;
    height: 100%;
}

.highest {
  font-weight: bold;
  background-color: #9fb;
}

.like {
  font-weight: bold;
  background-color: #E4FF00;
}

h1 {
  color:Black;
  text-align: center;
  font-size: 60px;
}

table {
  width: 95%;
}

tr, td {
  border: 1px solid black;
  padding-left: :1px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 5px;
  font-size: 20px;
  text-align: center;
}

.Introduksjon_div {
  display: none;
  width: 70%;
  height: auto;
  padding: 10%;
  margin: auto;
  font-size: 20px;
  padding-bottom: 100px;
}

.Oversikt_div {
  display: none;
  font-size: 20px;
  width: 60%;
  height: 90%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.Detaljer_div {
  display: none;
  width: auto;
  height: auto;
  padding: 5%;
  margin: auto;
  padding-bottom: 100px;
}

.Sammenligning_div {
  display: none;
  width : 80%;
  text-align: center;
  margin: auto;
  float: top;
  padding-bottom: 100px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #008CBA; /* Blue */
  display: none;
}
.button3 {
  background-color: #f44336; /* Red */
  display: none;
}
.button4 {
  background-color: #e7e7e7; /* Gray */
  color: black;
  display: none;
}
.button5 {
  background-color: #555555; /* Black */
  display: none;
}


#page-wrapper {
  min-height: 100%;
  position: relative;
}

#footer {
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
}

#footer p {
  font-size: 1em;
  text-align: center;
  padding-top: 13px 0px 0px 0px;
  color: white;
  background-color:  #00e6b8;
}
