@media screen and (max-width: 700px) {




	h1 {
	  color:Black;
	  text-align: center;
	  font-size: 60px;
	}

	table {
		width: 300%;
	}

	tr {
		display: block;
		float: left;
		border: none;
		text-align: center;
	}
	th, td {
		display: block;
		border: 1px solid black;
		padding-left: :1px;
		padding-right: 3px;
		padding-top: 5px;
		padding-bottom: 5px;
	  font-size: 20px;
		text-align: center;

	}
}

.Detaljer_oversikt_MOBIL{
	display: none;
}

@media screen and (max-width: 400px) {

	h1 {
		color:Red;
		text-align: center;
		font-size: 30px;
	}

)
