@media screen and (max-width: 700px) {



 h1 {
	  color:Black;
	  text-align: center;
	  font-size: 60px;
	}

	.Detaljer_div table {
		width: 300%;
	}

	.Detaljer_div tr {
		display: block;
		float: left;
		border: none;
		text-align: center;
	}
	.Detaljer_div td{
		display: block;
		border: 1px solid black;
		padding-left: :1px;
		padding-right: 3px;
		padding-top: 2px;
		padding-bottom: 5px;
	  font-size: 15px;
		text-align: center;

	}




.Detaljer_oversikt_MOBIL{
	display: none;
}

@media screen and (max-width: 400px) {

	h1 {
		color:Red;
		text-align: center;
		font-size: 30px;
	}

	.Detaljer_oversikt_MOBIL{
		display: none;
	}

)
