 body {
     box-sizing: border-box;
 }

 * {
     box-sizing: inherit;
 }

 #S_table {
     display: flex;
 }

 .row {
     display: flex;
     flex-direction: column;
 }

 @media (max-width: 1200px) {
     #S_table {
         flex-direction: column;
     }
     .row {
         flex-direction: row;
     }
}

 .cell {
     flex-basis: 20%;
     text-align: center;
     margin: 0.5em;
}

 .title-cell {
     flex-basis: 40%;
 }

 .highest {
     font-weight: bold;
    background-color: #9fb;
}
